   @charset "pt-br"

   
  }  
   body {
    background-color: #5BF79C;
    font-family: 'idroid'
   }

   h1 {
    
    font-family: 'idroid';
    font-size: 2em
   
    
   }
   h2 {
      
      font-family: 'idroid';
      
   }